<tr>
  <td></td>
  <td>Hospital Name</td>
  <td>Start Date</td>
  <td>End Date</td>
</tr>

<tr>
  <td>
    1
  </td>
  <td>
    <%= f.text_field :hospital_name_1, value: params[:hospital_name_1],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_1,
      value: params[:hospital_start_date_1], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_1,
      value: params[:hospital_end_date_1], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    2
  </td>
  <td>
    <%= f.text_field :hospital_name_2, value: params[:hospital_name_2],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_2,
      value: params[:hospital_start_date_2], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_2,
      value: params[:hospital_end_date_2], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    3
  </td>
  <td>
    <%= f.text_field :hospital_name_3, value: params[:hospital_name_3],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_3,
      value: params[:hospital_start_date_3], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_3,
      value: params[:hospital_end_date_3], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    4
  </td>
  <td>
    <%= f.text_field :hospital_name_4, value: params[:hospital_name_4],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_4,
      value: params[:hospital_start_date_4], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_4,
      value: params[:hospital_end_date_4], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    5
  </td>
  <td>
    <%= f.text_field :hospital_name_5, value: params[:hospital_name_5],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_5,
      value: params[:hospital_start_date_5], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_5,
      value: params[:hospital_end_date_5], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    6
  </td>
  <td>
    <%= f.text_field :hospital_name_6, value: params[:hospital_name_6],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_6,
      value: params[:hospital_start_date_6], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_6,
      value: params[:hospital_end_date_6], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    7
  </td>
  <td>
    <%= f.text_field :hospital_name_7, value: params[:hospital_name_7],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_7,
      value: params[:hospital_start_date_7], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_7,
      value: params[:hospital_end_date_7], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    8
  </td>
  <td>
    <%= f.text_field :hospital_name_8, value: params[:hospital_name_8],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_8,
      value: params[:hospital_start_date_8], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_8,
      value: params[:hospital_end_date_8], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    9
  </td>
  <td>
    <%= f.text_field :hospital_name_9, value: params[:hospital_name_9],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_9,
      value: params[:hospital_start_date_9], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_9,
      value: params[:hospital_end_date_9], class: "datepicker",
      layout: :inline %>
  </td>
</tr>

<tr>
  <td>
    10
  </td>
  <td>
    <%= f.text_field :hospital_name_10, value: params[:hospital_name_10],
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_start_date_10,
      value: params[:hospital_start_date_10], class: "datepicker",
      layout: :inline %>
  </td>
  <td>
    <%= f.text_field :hospital_end_date_10,
      value: params[:hospital_end_date_10], class: "datepicker",
      layout: :inline %>
  </td>
</tr>
